div#container
	h1 사용중인 태그들
	br
	p 총태그수 : #{foundDocs.length}
	table#tagTable(border='1px')
		thead
			tr
				th id
				th tag-name
				th date
				th 사용횟수
				th 
		each doc, idx in foundDocs
			tr
				td #{doc._id}
				td #{doc.name}
				td #{doc.date}
				td #{doc.usingCount}
				td 
					button(onclick="eguntag.remove(this)", class="pointer", data-tagid='#{doc._id}') 삭제
	button#newBtn(onclick='eguntag.new(this)') new

div#newTagForm(style='display:none')
	form(method='get', onsubmit='return false;')
		label 태그명
		input(name='tagname')
		button(onclick='eguntag.save(this)') 저장